html,
body {
  padding: 0;
  margin: 0;
  font-family: IBMPlexSans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  
  /* Mesh gradient ko sahi se set karein */
  background-image: url("/static/mesh-gradient.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  min-height: 100vh;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0; /* 'auto' ko hata kar 0 karein taake text left-aligned rahe */
}

